<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6H7FhiZGq56d_legWNYK-3Kz5Agy7qvI&callback=initMap">
   </script>
<h1>Search</h1>

<div id="map"></div>

<p><%="#{@location} #{@date}"%></p>
