<h1>Welcome</h1>
<form>
  <input type="text" name="location" placeholder="Search location or zip">
  <input type="text" class="datepicker" name="Date" value="1 June, 2016" data-valuee="2016-06-01">
</form>
