<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Voff</a>
  <ul class="nav navbar-nav navbar-right pull-xs-right">
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Hello, #{current_user.name}", "#", class: 'nav-link'%></li>
      <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'Login', new_user_session_path , class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>
    <% end %>
  </ul>
</nav>
